@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.custom-img{
 background-image: url('../public/imgs/a699946a99481a2e13a2b236b4db254e.png')
}
.bg-primary-active {
  background-color: #D100C9;
}
.icon1-img{
  background-image: url('../public/imgs/Web\ Dev\ Icon.svg')
 }
 .bg{
  background-color: #430964;
  color: #fff
 }
.bgsponsor{
  background-color: #fff;
}
.bgNav{
  background-color:  #70259B;
  color: #fff
}
.btnWhite {
  background-color:   #fff;
  color: #70259B;
}
.btnPurple {
  background-color:  #70259B;
  color: #fff
}
.caseContainer {
  display: flex;
  flex-direction: row;
}
.text{
  position: 'absolute';
 color: #fff;
/* margin-top: -90px; */
}

.casePadding {
  margin-bottom : 20px
}
.bg-image-wrapper {

  
  
}